<div class="p-4" id="lista">
  <table class="table table-striped shadow-lg" style="width: 100%;">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Lastname</th>
        <th scope="col">Identification</th>
        {{!-- <th scope="col">Time</th> --}}
      </tr>
    </thead>
    <tbody>
      {{#each links}}
      <tr>
        <th scope="row">{{id}}</th>
        <td>{{name}}</td>
        <td>{{lastname}}</td>
        <td>{{ident}}</td>
        {{!-- <td>{{timeago created_at}}</td> --}}
        <td> <a href="/edit/{{id}}" class="btn btn-primary" style="width:110px">Editar</a>
        <a href="/view/{{id}}" class="btn btn-info" style="width:110px">Visualizar</a>
        <a href="/view/{{id}}" class="btn btn-warning" style="width:110px ; color:white">Diagnosticar</a>
        <a href="/delete/{{id}}" class="btn btn-danger" style="width:110px">Borrar</a></td>
        
      </tr>

      {{else}}
      <div class="col-md-4 mx-auto">
        <div class="card card-body text center">
          <p>No hay Pacientes registrados</p>
          <a href="/registro">Registra uno</a>
        </div>
      </div>
      {{/each}}

    </tbody>
  </table>
</div>