<nav class="navbar navbar-expand-lg navbar-light shadow-lg" style="background-color: #0c0846;">
  <div class="container ">
    <a class="navbar-brand " style="color:rgb(236, 236, 236);" href="/">🩺 MedicalSignal 🩺</a>
    <ul class="navbar-nav ml-auto">
     {{!--  <li class="nav-item">
        <a href="/signin" class="nav-link font-weight-bold  shadow-lg  refer" style="color: white;"><i
            class="fa-solid fa-house-user"></i> Inicio</a>
      </li> --}}
      <li class="nav-item">
        <a href="/profile" class="nav-link font-weight-bold  shadow-lg  refer" style="color: rgb(247, 240, 240);"><i
            class="fa-solid fa-user-doctor"></i> Perfil</a>
      </li>
      <li class="nav-item">
        <a href="/list" class="nav-link font-weight-bold  shadow-lg  refer" style="color: white;"><i
            class="fa-solid fa-kit-medical"></i> Pacientes</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <div class="dropdown show" style="padding-left: 5%;">
        <a class=" mr-4" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
          style="color: black;">
          <img src="/img/equipo-medico.png" alt="logo" class="mx-auto m-2 rounded-circle"
            style="width:35px ; border: solid rgb(103, 192, 214);">
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/Settings"><i class="fa-solid fa-gear"></i> Configuracion</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Cerrar sesion</a>
        </div>
      </div>
    </ul>
  </div>
</nav>

<div class=" p-4" id="lista">
  <table class="table table-striped shadow-lg" style="width: 100%; position:relative" id="example">

        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Lastname</th>
                <th>Identification</th>
                <th>Estado</th>
                <th>SH</th>
                <th>Editar</th>
                <th>Señales</th>
                <th>Diagnostico</th>
                <th>Historial Diagnostico</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
          {{#each links}}
            <tr>
                <th>{{id}}</th>
                <td>{{name}}</td>
                <td>{{lastname}}</td>
                <td>{{ident}}</td>
                <td> <span class="{{status}}"></span></td>
                <td>{{sh}}</td>
                <td> <a href="/edit/{{id}}" class="btn btn-primary" style="width:110px">Editar</a></td>
                <td><a href="/view/{{id}}" class="btn btn-info" style="width:110px">Visualizar</a></td>
                <td><a href="/diagnostico/{{id}}" class="btn btn-warning" style="width:110px ; color:white">Diagnosticar</a></td>
                <td><a href="/uploadd/{{id}}" class="btn btn-success" style="width:150px ; color:white; font-size:13px">Historial diagnostico</a></td>
                <td><a href="/delete/{{id}}" class="btn btn-danger" style="width:110px">Borrar</a></td>
            </tr>

             {{else}}
        <div class="col-md-4 mx-auto">
          <div class="card card-body text center">
            <p>No hay Pacientes registrados</p>
            <a href="/registro">Registra uno</a>
          </div>
        </div>
        {{/each}}
         
        </tbody> 
  </table>
</div>




