<nav class="navbar navbar-expand-lg navbar-light shadow-lg" style="background-color: #0c0846;">
  <div class="container ">
    <a class="navbar-brand " style="color:rgb(236, 236, 236);" href="/">🩺 MedicalSignal 🩺</a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="/signin" class="nav-link font-weight-bold  shadow-lg  refer" style="color: white;"><i
            class="fa-solid fa-house-user"></i> Inicio</a>
      </li>
      <li class="nav-item">
        <a href="/profileUser" class="nav-link font-weight-bold  shadow-lg  refer" style="color: rgb(247, 240, 240);"><i class="fa-solid fa-user"></i> Perfil</a>
      </li>
      <li class="nav-item">
        <a href="/HistoUser" class="nav-link font-weight-bold  shadow-lg  refer" style="color: white;"><i class="fa-solid fa-folder-open"></i> Historia clinica</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <div class="dropdown show" style="padding-left: 5%;">
        <a class=" mr-4" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
          style="color: black;">
          <img src="/img/equipo-medico.png" alt="logo" class="mx-auto m-2 rounded-circle"
            style="width:35px ; border: solid rgb(103, 192, 214);">
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/settingsUser"><i class="fa-solid fa-gear"></i> Configuracion</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Cerrar sesion</a>
        </div>
      </div>
    </ul>
  </div>
</nav>



<Div class="container">
  <h1 style="padding-top: 3%; position:relative;">Historial Diagnostico</h1>
</Div>
<div class=" p-4" id="lista">
  <table class="table table-striped shadow-lg" style="width: 100%; position:relative" id="example">

        <thead>
            <tr>
                <th>#</th>
                <th>Diagnostico</th>
                <th>Fecha</th>
               
            </tr>
        </thead>
        <tbody>
          {{#each links}}
            <tr>
                <th>{{id}}</th>
                <td><a href="/upload/{{diagpdf}}">{{diagpdf}}</a></td>
                <td>{{datediag}}</td>
            </tr>

             {{else}}
        <div class="col-md-4 mx-auto">
          <div class="card card-body text center">
            <p>No hay Diagnosticos Disponibles Para este paciente</p>
           
          </div>
        </div>
        {{/each}}
         
        </tbody> 
  </table>
</div>
 
<Div class="container">
  


      <form action="/uploaduser" method="post" enctype="multipart/form-data">

                  <div class="container">
                    <div class="row">
                      <div class="col-">
                        <input type="file" name="sampleFile" id="filepdf">
                      </div>
                      <div class="col-sm">
                       
                          <button class="btn btn-primary btn-block shadow-lg border border-dark"
                            style="width: 25%;">
                            Subir
                          </button>
                      
                      </div>
                    </div>
      
      </form>
  

</Div>