<nav class="navbar navbar-expand-lg navbar-light shadow-lg" style="background-color: #0c0846;">
  <div class="container ">
    <a class="navbar-brand " style="color:rgb(236, 236, 236);" href="/">┖ MedicalSignal ┖</a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="/signin" class="nav-link font-weight-bold  shadow-lg  refer" style="color: white;"><i
            class="fa-solid fa-house-user"></i> Inicio</a>
      </li>
      <li class="nav-item">
        <a href="/profileUser" class="nav-link font-weight-bold  shadow-lg  refer" style="color: rgb(247, 240, 240);"><i class="fa-solid fa-user"></i> Perfil</a>
      </li>
      <li class="nav-item">
        <a href="/HistoUser" class="nav-link font-weight-bold  shadow-lg  refer" style="color: white;"><i class="fa-solid fa-folder-open"></i> Historia clinica</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <div class="dropdown show" style="padding-left: 5%;">
        <a class=" mr-4" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
          style="color: black;">
          <img src="/img/equipo-medico.png" alt="logo" class="mx-auto m-2 rounded-circle"
            style="width:35px ; border: solid rgb(103, 192, 214);">
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/settingsUser"><i class="fa-solid fa-gear"></i> Configuracion</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Cerrar sesion</a>
        </div>
      </div>
    </ul>
  </div>
</nav>

<body id="registro">


  <div class="container p-4 shadow-lg " style="background-color: rgba(255, 255, 255, 0.603) ;">
    <form action="" method="post">
      <div class="form-row p-2">
        <div class="col">
          <label for="name"><i class="far fa-user"></i> Nombre</label>
          <input type="text" class="form-control" placeholder="Nombre" id="name" name="name" value="{{user.name}}" disabled>
        </div>
        <div class="col">
          <label for="apellidos"><i class="fas fa-user"></i> Apellidos</label>
          <input type="text" class="form-control" placeholder="Apellidos" id="apellidos" name="lastname"
            value="{{user.lastname}}" disabled>
        </div>
      </div>

      <div class="form-row p-2">
        <div class="col">
          <label for="name"><i class="fa-regular fa-id-card"></i> Indentificaci贸n</label>
          <input type="text" class="form-control" placeholder="Identificaci贸n" id="name" name="ident"
            value="{{user.ident}}" disabled>
        </div>
        <div class="col">
          <label for="Genero"><i class="fa-sharp fa-solid fa-venus-mars"></i> Sexo</label>
          <select class="form-control" id="Genero" name="gender" disabled>
            <option>{{user.gender}}</option>
            <option>Masculino</option>
            <option>Femenino</option>
          </select>
        </div>
      </div>

      <div class="form-row p-2">
        <div class="col">
          <label for="name"><i class="fa-solid fa-id-badge"></i> Edad</label>
          <input type="number" class="form-control" placeholder="Edad" id="age" name="age" min="1" max="100"
            value="{{user.age}}" disabled>
        </div>
        <div class="col">
          <label for="Genero"><i class="fa-solid fa-syringe"></i> Tipo de sangre</label>
          <select class="form-control" id="bt" name="bt" disabled>
            <option>{{user.bt}}</option>
            <option>A+</option>
            <option>B+</option>
            <option>O+</option>
            <option>AB+</option>
            <option>A-</option>
            <option>B-</option>
            <option>O-</option>
            <option>AB-</option>
          </select>
        </div>

        <div class="col">
          <label for="name"><i class="fa-solid fa-calendar-days"></i> Fecha de nacimiento</label>
          <input type="date" class="form-control" placeholder="Fecha de nacimiento" id="date" name="date" disabled>

        </div>
      </div>


      <div class="form-row p-2">
        <div class="col">
          <label for="name"><i class="fa-solid fa-briefcase"></i> Ocupaci贸n</label>
          <input type="text" class="form-control" placeholder="Ocupaci贸n" id="oc" name="oc" value="{{user.oc}}" disabled>
        </div>
        <div class="col">
          <label for="Genero"><i class="fa-solid fa-ring"></i> Estado Civil</label>
          <select class="form-control" id="ec" name="ec" disabled>
            <option>{{user.ec}}</option>
            <option>Soltero</option>
            <option>Casado</option>
            <option>Viudo</option>
            <option>Divorsiado</option>
            <option>Union libre</option>
          </select>
        </div>
        <div class="col">
          <label for="name"><i class="fa-solid fa-mobile"></i> Celular</label>
          <input type="tel" class="form-control" placeholder="Celular" id="tel" name="phone" value="{{user.phone}}" disabled>
        </div>
      </div>






      <div class="form-row p-2">
        <div class="col">
          <label for="name"><i class="fa-solid fa-earth-americas"></i> Direccion</label>
          <input type="text" class="form-control" placeholder="address" id="add" name="address"
            value="{{user.address}}" disabled>
        </div>
        <div class="col">
          <label for="apellidos"><i class="fa-solid fa-city"></i> Barrio</label>
          <input type="text" class="form-control" placeholder="Place of residence" id="pr" name="pr"
            value="{{user.pr}}" disabled>
        </div>
      </div>
    </form>

  </div>


  <script>

    let da = new Date("{{encodeMyString user.date}}")
    let d = da.toLocaleDateString("fr-CA");
    document.getElementById("date").setAttribute('value', d);
  </script>

</body>